<link rel="stylesheet" type="text/css" class=".../styles.css">

<div _ngcontent-c2="" class="col-lg-12">
  <section _ngcontent-c2="" class="box ">
    <header _ngcontent-c2="" class="panel_header">
      <h4 _ngcontent-c2="" class="title pull-left title1">Imóveis</h4>
      <button class="btn btn-primary botao" (click)="novo()">Criar novo</button>

      <p-table [value]="imovels" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th class="ids">ID</th>
            <th>Cliente</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th class="acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-imovel>
          <tr>
            <td>{{imovel?.id}}</td>
            <td>{{imovel?.cliente.nome}}</td>
            <td>{{imovel?.rua}}</td>
            <td>{{imovel?.bairro.cidade.nome}}</td>
            <td>
              <button class="btn btn-primary" (click)="editar(imovel)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="confirmDelete(imovel)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </header>
    <div _ngcontent-c2="" class="content-body">
    </div>
  </section>
</div>

<p-confirmDialog></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>

<p-dialog header="Cadastro de Imóveis" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="1350">


  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label for="cliente">Cliente: *</label>
        <p-dropdown name="cliente" id="cliente" [options]="clientes" [(ngModel)]="imovelEdit.cliente"
          placeholder="Selecione um cliente!" required="true" optionLabel="nome" [autoDisplayFirst]="false" required>
        </p-dropdown>
      </div>
      <div class="col-sm-4">
        <label for="cidade">Cidade: *</label>
        <p-dropdown name="cidade" [options]="cidades" (onChange)="buscaBairros(imovelEdit.bairro.cidade)"
          [(ngModel)]="imovelEdit.bairro.cidade" required="true" placeholder="Selecione uma cidade!" optionLabel="nome"
          [autoDisplayFirst]="false" required>
        </p-dropdown>
      </div>
      <div class="col-sm-4">
        <label for="bairro">Bairro: *</label>
        <p-dropdown name="bairro" id="bairro" [options]="bairros" [(ngModel)]="imovelEdit.bairro"
          placeholder="Selecione um bairro!" required="true" [ngModelOptions]="{standalone: true}" optionLabel="nome"
          [autoDisplayFirst]="false" required>
        </p-dropdown>
      </div>
    </div>
  </div>
  <br>

  <div clas="row">
    <div class="col-sm-6">
      <label for="nome">Endereço: *</label>
      <input type="text" id="rua" name="rua" required=“required” class="form-control" minlength="5  " [(ngModel)]="imovelEdit.rua">
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label for="cep">CEP: *</label><br>
      <p-inputMask mask="99999999" id="cep" name="cep" placeholder="99999-999" minlength="8" [(ngModel)]="imovelEdit.cep">
      </p-inputMask><br>
      <br>
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label>Quartos: *</label>
      <input type="number" id="Quartos" name="quartos" min="1" max="100000" required class="form-control"
        [(ngModel)]="imovelEdit.quartos">
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label>Vagas Garagem: *</label>
      <input type="number" id="vgaragem" name="vgaragem" min="1" max="100000" required class="form-control"
        [(ngModel)]="imovelEdit.vgaragem">
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <h5 class="first"></h5>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <p-checkbox name="ativo" [(ngModel)]="imovelEdit.ativo" label="Ativo" binary="true">
        </p-checkbox>
      </div>
    </div>
  </div>
  <br>
  <div clas="row">
    <div class="col-sm-6">
      <h5 class="first"></h5>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <p-checkbox name="troca" [(ngModel)]="imovelEdit.troca" label="Aceita troca?" binary="true">
        </p-checkbox>
      </div>
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label>Venda:</label>
      <input type="checkbox" name="myChk" id="myChk" (change)="disableVenda()" [(ngModel)]="imovelEdit.venda" />
      <input type="number" id="vvenda" name="vvenda" [step]="0.1" min="1" max="100000" required
        class="form-control" placeholder="Valor Venda R$:" [disabled]="isDisabledVenda" [(ngModel)]="imovelEdit.vvenda">
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label>Locação:</label>
      <input type="checkbox" name="myChk" id="myChk" (change)="disableLocacao()" [(ngModel)]="imovelEdit.locacao" />
      <input type="number" id="vlocacao" name="vlocacao" [step]="0.1" min="1" max="100000" required
        class="form-control" placeholder="Valor Locação R$:" [disabled]="isDisabledLoca"
        [(ngModel)]="imovelEdit.vlocacao">
    </div>
  </div>



  <div clas="row">
    <div class="col-sm-6">
      <label for="nome">M² Terreno:</label>
      <input type="number" id="mterreno" name="mterreno" [step]="0.1" min="1" max="100000" required
        class="form-control" [(ngModel)]="imovelEdit.mterreno">
    </div>
  </div>

  <div clas="row">
    <div class="col-sm-6">
      <label for="nome">M² Imovel:</label>
      <input type="number" id="mimovel" name="mimovel" [step]="0.1" min="1" max="100000" required
        class="form-control" [(ngModel)]="imovelEdit.mimovel">
    </div>
  </div>



  <div class="row">
    <div class="ui-g-12 ui-fluid">
      <label for="imagem">Imagem</label>
      <p-fileUpload chooseLabel="Selecionar..." cancelLabel="Cancelar" name="imagem"
        url="{{urlApi}}/imovel/upload/{{imovelEdit.id}}" (onUpload)="onUpload($event)" accept=".jpg"
        maxFileSize="1000000">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{file.name}} - {{file.size}} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="ui-g-12 ui-fluid" *ngIf="imovelEdit.imagem">
      <label for="imagemAtual">Imagem atual:</label>
      <br />
      <img alt="Nenhuma imagem cadastrada!" src="{{urlApi}}/images/{{imovelEdit.imagem}}?{{today}}" width="100"
        height="150">
    </div>
  </div>

  <div _ngcontent-c2="" class="col-lg-12">

    <section _ngcontent-c2="" class="box ">

      <div #gmap style="width:95%;height:400px;margin: 10px"></div>
      <button style="margin: 5px" (click)="setMapType('terrain')" class="btn btn-primary">Mapa terreste</button>
      <button (click)="setMapType('satellite')" class="btn btn-danger">Mapa Satélite</button>
      <button (click)="setMapType('roadmap')" class="btn btn-warning">Mapa de Rota</button>
      <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Localização Atual</button>
      <div class="form-group">
        <input type="text" class="form-control" name="latitude" id="lat" [(ngModel)]="imovelEdit.latitude"
          placeholder="Latitude" value='11' required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="longitude" [(ngModel)]="imovelEdit.longitude"
          [ngModelOptions]="{standalone: true}" placeholder="Longitude" required>
      </div>
    </section>

  </div>









  <p-footer>

    <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>


</p-dialog>