<link rel="stylesheet" type="text/css" class=".../styles.css">
<div _ngcontent-c2="" class="col-lg-12">
	<section _ngcontent-c2="" class="box ">
		<header _ngcontent-c2="" class="panel_header">
			<h4 _ngcontent-c2="" class="title pull-left title1">{{userInfo?.principal?.nome}}</h4>
			<button *ngIf="hasRole('CLIENTE_CRIAR') || hasRole('ADMIN')" class="btn btn-primary botao"
				(click)="novo()">Criar novo</button>

			<p-table [value]="clientes" [paginator]="true" [rows]="10">
				<ng-template pTemplate="header">
					<tr>
						<th class="ids">ID</th>
						<th>Nome</th>
						<th>CPF/CNPJ</th>
						<th class="acoes">Ações</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-cliente>
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.nome}}</td>
						<td>{{cliente.cpf_cnpj}}</td>

						<td>
							<button *ngIf="hasRole('CLIENTE_EDITAR') || hasRole('ADMIN')" class="btn btn-primary"
								(click)="editar(cliente)">
								<i class="fa fa-edit"></i>
							</button>
							<button *ngIf="hasRole('CLIENTE_REMOVER') || hasRole('ADMIN')" class="btn btn-danger"
								(click)="confirmDelete(cliente)">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</header>
		<div _ngcontent-c2="" class="content-body"></div>
	</section>
</div>

<p-confirmDialog></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>

<p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="1000">

	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="nome">Nome: *</label>
				<input type="text" id="nome" name="nome" class="form-control" minlength="4" required
					[(ngModel)]="clienteEdit.nome">
			</div>
			<div class="col-sm-6">
				<label for="apelido">Apelido/Nome Fantasia</label>
				<input type="text" id="apelido" name="apelido" class="form-control" [(ngModel)]="clienteEdit.apelido">
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-3">
				<label for="cpf_cnpj">CPF/CNPJ: *</label><br>
				<p-inputMask mask="99999999999999" id="cpf_cnpj" name="cpf_cnpj" minlength="11"
					placeholder="99999999999999" required [(ngModel)]="clienteEdit.cpf_cnpj">
				</p-inputMask><br>
			</div>
			<div class="col-sm-3">
				<label for="telefone">Telefone: *</label><br>
				<p-inputMask mask="(99)99999-9999" id="telefone" name="telefone" minlength="11"
					placeholder="(99)99999-9999" required [(ngModel)]="clienteEdit.telefone">
				</p-inputMask><br>
			</div>
			<div class="col-sm-1">
				<h5 class="first"></h5>
				<div class="ui-g" style="width:250px;margin-bottom:10px">
					<p-checkbox name="ativo" [(ngModel)]="clienteEdit.ativo" label="Ativo" binary="true"></p-checkbox>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="cidade">Cidade: *</label>
				<p-dropdown name="cidade" [options]="cidades" placeholder="Selecione uma cidade"
					(onChange)="buscaBairros(clienteEdit.bairro.cidade)" required
					[(ngModel)]="clienteEdit.bairro.cidade" optionLabel="nome" [autoDisplayFirst]="false">
				</p-dropdown>
			</div>
			<div class="col-sm-6">
				<label for="bairro">Bairro: *</label>
				<p-dropdown name="bairro" id="bairro" [options]="bairros" placeholder="Selecione um bairro" required
					[(ngModel)]="clienteEdit.bairro" [ngModelOptions]="{standalone: true}" optionLabel="nome"
					[autoDisplayFirst]="false">
				</p-dropdown>
			</div>

		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="endereco">Endereco: *</label>
				<input type="text" id="endereco" name="endereco" minlength="5" class="form-control" required
					[(ngModel)]="clienteEdit.endereco">
			</div>
			<div class="col-sm-6">
				<label for="email">E-mail: *</label>
				<input type="email" id="email" name="email" class="form-control" minlength="5"
					placeholder="email@email.com" required [(ngModel)]="clienteEdit.email">
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<label for="interesses">Interesses: *</label>

				<textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" minlength="5" type="text"
					id="interesses" name="interesses" class="form-control" required
					[(ngModel)]="clienteEdit.interesses"></textarea>

			</div>
		</div>
	</div>

	<p-footer>

		<button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
		<button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
	</p-footer>
</p-dialog>